# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'TSD Install',
      'command': 'tsd:install'
    },
    {
      'label': 'TSD Update',
      'command': 'tsd:update'
    },
    {
      'label': 'TSD Reinstall',
      'command': 'tsd:reinstall'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tsd'
      'submenu': [
        {
          'label': 'Install',
          'command': 'tsd:install'
        },
        {
          'label': 'Update',
          'command': 'tsd:update'
        },
        {
          'label': 'Reinstall',
          'command': 'tsd:reinstall'
        }
      ]
    ]
  }
]
